{% load widget_tweaks %}

<h1 class="mt-8 mb-4 prose-2xl text-white ">
    Add Book
  </h1>

<form hx-post="{% url 'add_book' %}">
    <div class="mb-2 form-control text-white">
        {{ form.title| add_label_class:'label text-white'}}
        {% render_field form.title class='input' %}
    </div>
    <div class="mb-2 form-control text-white">
        {{ form.authors| add_label_class:'label text-white'}}
        {% render_field form.authors class='input' %}
    </div>
    <div class="mb-2 form-control text-white">
        {{ form.subtitle| add_label_class:'label text-white'}}
        {% render_field form.subtitle class='input' %}
    </div>
    <div class="mb-2 form-control text-white">
        {{ form.publisher| add_label_class:'label text-white'}}
        {% render_field form.publisher class='input' %}
    </div>
    <div class="mb-2 form-control text-white">
        {{ form.category| add_label_class:'label text-white'}}
        {% render_field form.category class='input' %}
    </div>
    <div class="mb-2 form-control text-white">
        {{ form.published_date| add_label_class:'label text-white'}}
        {% render_field form.published_date class='input' %}
    </div>
    <div class="mb-2 form-control text-white">
        {{ form.distribution_expense| add_label_class:'label text-white'}}
        {% render_field form.distribution_expense class='input' %}

        {% for error in form.distribution_expense.errors %}
            <p class="text-red-400 mt-1"> {{ error }}</p>
        {% endfor %}
    </div>
    <button class="btn btn-success">
        Add
    </button>
</form>